name: ci/cd pipeline to deploy to tomcat
on: 
  push:
    branches: master
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      
      - name: set-up jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'   
      - name: validate with maven
        run: mvn validate
      - name: compile with maven
        run: mvn compile
      - name: test with maven
        run: mvn test
      - name: package with maven
        run: mvn package
      - name: verify WAR file
        run: ls -lh target/
      
      - name: Build, Test and SonarQube Scan
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=Train-Book-resevation \
            -Dsonar.host.url="${{ secrets.SONAR_HOST_URL }}" \
            -Dsonar.login="${{ secrets.SONAR_TOKEN }}"

      - name: Publish to Nexus
        uses: sonatype-nexus-community/nexus-repo-github-action@master
        with:
         serverUrl: ${{ secrets.NEXUS_SERVER_URL }}
         username: ${{ secrets.NEXUS_USERNAME }}
         password: ${{ secrets.NEXUS_PASSWORD }}
         format: raw
         repository: train-ticket
         assets: extension=war
         filename: target/TrainBook-1.0.0-SNAPSHOT.war


